.profile__edit-button {
  display: flex;
  background-image: url(../../../images/pencil.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
  top: 5px;
  width: 24px;
  height: 24px;
  margin: auto;
  padding: 0;
  border: 1px solid #ffffff;
  transition: 0.4s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__edit-button:focus {
  outline: 0;
}

@media screen and (max-width: 900px) {
  .profile__edit-button {
    bottom: 25px;
  }
}

@media screen and (max-width: 625px) {
  .profile__edit-button {
    bottom: 15px;
  }
}
