/* * {
  outline: solid red 1px;
} */

.page {
  box-sizing: border-box;
  max-width: 99.9vw;
  background-color: #000000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
  margin: 0 auto 0;
}
