@import url(./__about-me/profile__about-me.css);
@import url(./__add-button/profile__add-button.css);
@import url(./__edit-button/profile__edit-button.css);
@import url(./__ellipse/profile__ellipse.css);
@import url(./__image/profile__image.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__name-container/profile__name-container.css);

.profile {
  display: flex;
  width: 880px;
  margin: 40px auto 0;
}

@media screen and (max-width: 900px) {
  .profile {
    width: 600px;
  }
}

@media screen and (max-width: 625px) {
  .profile {
    flex-direction: column;
    width: 282px;
    margin: 42px auto 0;
    justify-content: center;
    align-items: center;
  }
}
