.elements__grid {
  display: grid;
  width: 880px;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 17px;
  row-gap: 20px;
}

@media screen and (max-width: 900px) {
  .elements__grid {
    width: 600px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    column-gap: 36px;
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 625px) {
  .elements__grid {
    width: 282px;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
  }
}
