.header {
  width: 880px;
  min-height: 74px;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
  margin: 45px auto 0;
}

@media screen and (max-width: 900px) {
  .header {
    width: 600px;
  }
}

@media screen and (max-width: 625px) {
  .header {
    box-sizing: border-box;
    width: 320px;
    min-height: 56px;
    margin: 28px auto 0;
    padding-left: 21px;
  }
}
