.profile__add-button {
  background-image: url(../../../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  margin: auto 0 auto 0;
  transition: 0.4s;
}

.profile__add-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.profile__add-button:focus {
  outline: 0;
}

@media screen and (max-width: 900px) {
  .profile__add-button {
    width: 125px;
    margin: 36px auto 0;
  }
}

@media screen and (max-width: 625px) {
  .profile__add-button {
    width: 282px;
    margin: 36px auto 0;
  }
}
