.modal__container {
  position: relative;
  box-sizing: border-box;
  width: 430px;
  background-color: white;
  z-index: 1;
  border-radius: 10px;
}

@media screen and (max-width: 625px) {
  .modal__container {
    width: 282px;
  }
}