.profile__name {
  width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0 10px 0 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .profile__name {
    width: 200px;
    font-size: 22px;
    line-height: 27px;
    margin: 0 10px 0 0;
  }
}
