.profile__ellipse {
  position: relative;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 30px;
}

@media screen and (max-width: 600px) {
  .profile__ellipse {
    margin: 0 auto 0;
  }
}
