@import url(./__container/modal__container.css);
@import url(./__form/modal__form.css);
@import url(./__info/modal__info.css);
@import url(./__submit/modal__submit.css);
@import url(./__title/modal__title.css);
@import url(./__close-icon/modal__close-icon.css);

.modal {
  box-sizing: border-box;
  width: 99.9%;
  height: 99.9%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  position: fixed;
  z-index: 3;
  display: none;
  justify-content: center;
  align-items: center;
}