.profile__about-me {
  width: 350px;
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 900px) {
  .profile__about-me {
    text-align: center;
    width: 200px;
  }
}

@media screen and (max-width: 625px) {
  .profile__about-me {
    margin: 14px auto 0;
    font-size: 14px;
    line-height: 17px;
  }
}
