.modal__line {
  margin: 13px auto 0;
  width: 358px;
  opacity: 0.2;
  border-bottom: 1px solid #000000;
}

@media screen and (max-width: 600px) {
  .modal__line {
    margin: 9px auto 0;
    width: 238px;
  }
}
