.modal__info {
  border: none;
  display: flex;
  margin: 30px auto 0;
  width: 358px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  justify-content: center;
  align-items: center;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width: 625px) {
  .modal__info {
    padding-bottom: 9px;
  }
}
